<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org" th:replace="~{base :: layout(~{::div}, ~{}, ~{})}">>
<head></head>
<body>
<div>
  <div class="mb-4">
    <div class="d-flex flex-row align-items-center mb-2">
      <img class="icon-small me-3" src="/favicon.ico">
      <h4 class="m-0" th:text="${appTitle}"/>
    </div>
    <h1>Create article</h1>
    <div th:if="${success}" class="alert alert-success alert-dismissible" role="alert">
      <span>Article has been created.</span>
      <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div>
    <form action="#" th:action="@{/admin/article}" th:object="${article}" method="post" >
      <div class="mb-3">
        <label for="titleInput" class="form-label">Title</label>
        <input id="titleInput" class="form-control" type="text" th:field="*{title}"/>
      </div>
      <div class="mb-3">
        <label for="summaryInput" class="form-label">Summary</label>
        <input id="summaryInput" class="form-control" type="text" th:field="*{summary}"/>
      </div>
      <div class="mb-3">
        <label for="contentTextarea" class="form-label">Content</label>
        <textarea id="contentTextarea" class="form-control" rows="10" th:field="*{content}"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
