<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h1>Demo Publisher</h1>

    <button id="subscribe-button">Subscribe</button>
    <button id="unsubscribe-button">Unsubscribe</button>

    <p>Here are the current articles.</p>

    <table border="1">
        <tr>
            <th>Pub Date</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Link</th>
        </tr>
        <tr th:each="article: ${articles}">
            <td th:text="${article.date}"/>
            <td th:text="${article.title}"/>
            <td th:text="${article.summary}"/>
            <td><a th:text="'/article/'+${article.id}" th:href="'/article/'+${article.id}"/></td>
        </tr>
    </table>
</div>

<script th:inline="javascript">
        const REG_CONTRACT_ADDRESS = [[${regContractAddr}]];
        const PUB_CONTRACT_ADDRESS = [[${pubContractAddr}]];
</script>
<script type="text/javascript" src="/js/ethers.js"></script>
<script type="module" src="/js/home.js"></script>
</body>
</html>
